# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IntelliJ project files
.idea/*
*.iml
out
gen

# vscode
.vscode/
